<div class="panel panel-primary">
  <div class="card text-center mb-4">
    <h1 class="font-bold mt-4 mb-3 h5"><i class="fa-solid fa-plane-up"></i> Booking Details</h1>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>PNR Number</th>
          <th>Booked Date</th>
          <th>Source</th>
          <th>Destination</th>
          <th>Journey Date</th>
          <!-- <th>ContactAddress</th> -->
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let booking of booking_details">
          <td> {{booking.pnr}}</td>
          <td>
            <span class="time">{{booking.createdDate | date: 'shortTime'}}</span><br>
            <span class="date">{{booking.createdDate | date: 'MMM d yyyy'}}</span>
          </td>
          <td>{{booking.source}}</td>
          <td>{{booking.destination}}</td>
          <td>
            <span class="time">{{booking.departureDate | date: 'shortTime'}}</span><br>
            <span class="date">{{booking.departureDate| date: 'MMM d yyyy'}}</span>
          </td>
          <!-- <td>{{booking.contactAddress}}</td> -->
          <td><button (click)="removeBooking(booking.bookingId)" class="btn btn-danger">Cancel</button>
            <button class="btn btn-info" style="margin-left: 10px" [routerLink]="['/listpassengers',booking.bookingId]">View Details</button>
              <!-- <button  class="btn btn-info" style="margin-left: 10px">Details</button> -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
