* {
  box-sizing: border-box;
}
.body {
  display: flex;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  background:url(https://wallpaperaccess.com/full/1461603.jpg),
 linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
  background-size:cover;
  background-blend-mode: multiply;
}
form {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: rgba(74, 79, 97, 0.25) 0px 13px 27px -5px, rgba(74, 79, 97, 0.3) 0px 8px 16px -8px;
  padding: 20px 35px 35px 35px;
  text-align: center;
  width: 500px;

}
form i {
  color: #fff;
  font-size: 30px;
  transition: color 250ms ease-in;
}
form .input-wrapper {
  margin-bottom: 30px;
  position: relative;
}
form .input-wrapper i {
  color: #a4a9b6;
  position: absolute;
  opacity: 0.85;
  right: 13px;
  top: 50%;
  transform: translateY(-50%);
}
form h1 {
  font-weight: 600;
  letter-spacing: 0;
  margin: 25px 0 0 0;
}
form p {
  color: #a4a9b6;
  font-size: 18px;
  margin: 2px 0 44px 0;
}
form input[type=text], form input[type=password] {
  border: 1px solid #d8ddf0;
  border-radius: 6px;
  font-size: 15px;
  padding: 13px 9px 13px 9px;
  transition: border-color 250ms ease-in;
}
form input[type=text]:focus, form input[type=password]:focus {
  border-color: #4c70ff;
  outline: none;
}
form input[type=text]:focus + i, form input[type=password]:focus + i {
  color: #4c70ff;
}
form input {
  width: 100%;
}
form ::placeholder {
  color: #a4a9b6;
  font-size: 15px;
  opacity: 1;
}

.btn{
  width: 40%;
  margin-left: 10px;
}
.btn-primary{
  background-color: #FF5733;
  border: 1px solid #FF5733;
}
.btn-primary{

}
