<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ABP</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="schedule"
          routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
          routerLink="listBooking" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact:true}">Booking</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link"
           routerLink="listBookingbyid" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}"
           >My Booking</a>
        </li>

        <li class="nav-item" *ngIf="role===0">
          <a class="nav-link" routerLink="airline" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact:true}">Airline</a>
        </li>
        <li class="nav-item" *ngIf="role===0">
          <a class="nav-link" routerLink="schedulelist" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact:true}"  >Schedule</a>
        </li>

        <li class="nav-item" *ngIf="role===0">
          <a class="nav-link" routerLink="couponManagement" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact:true}">Coupon</a>
        </li>
        <li class="nav-item text-end" >
          <a class="nav-link" (click)="logout()"
          >Logout</a>
        </li>
      </ul>

    </div>
  </div>
</nav>
