.navbar{
  background-color: #fff;
  color:white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 10%;
}

.nav-item .nav-link{
  color:#000;
}

.nav-item:hover{
 background-color: #ddd;
 border-radius: 10px;
}

.navbar-brand{
  background-color: #D84A15;
  width: 10vh;
  text-align: center;
  border-radius: 10px;
  color: #fff;
}

.active{
  border-bottom: 2px solid #FF5733;
}

.text-end .nav-link{
  align-items: flex-end;
  background-color: #ddd;
 border-radius: 10px;

}

.text-end .nav-link:hover{
  cursor: pointer;
  background-color: #D84A15;
  color: white;
  border-radius: 10px;
}
